- content_for :title do
  Editing
  = @armada


%h2
  Editing "#{@armada}"
  .action
    = link_to image_tag('icon_small_larrow.png')
    = link_to 'back to list', members_armadas_path
  .action
    = link_to image_tag('icon_small_delete.png'), members_armada_path(@armada), :method => :delete, :confirm => 'Are you sure?'
    = link_to 'delete', members_armada_path(@armada), :method => :delete, :confirm => 'Are you sure?'


= render :partial => "form", :locals => {:armada => @armada}
