- content_for :title do
  Space Armada!

.new_armada_button
  = button_to 'New Armada!', new_members_armada_path, :method => :get

%h2 All Armadas in the System
%p
  = pluralize @armadas.size, 'armada'
  as of
  = "#{Time.now.to_s(:date)}."

- if !@armadas.empty?
  %p= will_paginate(@armadas)
  .armadas
    %table
      %tr
        %th Name
        %th Creator
        %th Cost
        %th Date Created
        %th
      = render :partial => "armada", :collection => @armadas
- else
  %h3 There are no armadas to show yet.
