- content_for :title do
  = @armada

%h2
  = @armada
  .action
    = link_to image_tag('icon_small_larrow.png')
    = link_to 'back to list', members_armadas_path
    - if @armada.created_by(current_user)
      .action
        = link_to image_tag('icon_small_edit.png'), edit_members_armada_path(@armada)
        = link_to 'edit', edit_members_armada_path(@armada)
      .action
        = link_to image_tag('icon_small_add.png'), members_armada_components_path(@armada)
        = link_to 'add components', members_armada_components_path(@armada)
      .action
        = link_to image_tag('icon_small_delete.png'), members_armada_path(@armada), :method => :delete, :confirm => 'Are you sure?'
        = link_to 'delete', members_armada_path(@armada), :method => :delete, :confirm => 'Are you sure?'

%p
  Created by
  = @armada.creator
  on
  = @armada.created_at.to_s(:date)

.left
  .armada_data
    %p
      %strong Name
      =h @armada.name  
    %p
      %strong Description:
      =h @armada.description
    %p
      %strong Cost:
      =h @armada.cost

.right
  .armada_components
    %h3 Prepared for Interstellar Flight with...
    %table
      - @armada.components.each do |c|
        %tr
          %td
            = image_tag(c.resource.image_path, :width => '100')
          %td
            = c.resource.name
          
