- content_for :title do
  = @armada

%h2
  = @armada
  .action
    = link_to image_tag('icon_small_larrow.png')
    = link_to 'back to list', members_armadas_path

%p
  Created by
  = @armada.creator
  on
  = @armada.created_at.to_s(:date)

.left
  .armada_data
    %p
      %strong Name
      =h @armada.name  
    %p
      %strong Description:
      =h @armada.description
    %p
      %strong Cost:
      =h @armada.cost

.right
  .armada_components
    %h3 Prepared for Interstellar Flight with...
    %table
      - @armada.components.each do |c|
        %tr
          %td
            = image_tag(c.resource.image_path, :width => '100')
          %td
            = c.resource.name
          