%tr
  %td.thumb= image_tag(missile.image_path)
  %td
    = missile.name
    = "(#{pluralize(missile.cost, 'ArmadaBuck')})"
    %br
    = truncate(missile.description, :length => 100)
  %td
    = link_to image_tag('icon_small_add.png'), members_armada_components_path(@armada, :resource_name => 'Missile', :resource_id => missile.id), :method => :post
    = link_to 'add to armada', members_armada_components_path(@armada, :resource_name => 'Missile', :resource_id => missile.id), :method => :post
