#component.shield
  .thumb= image_tag(shield.photo_file_name)
  .data
    = shield.name
    = "(#{pluralize(shield.price, 'AdmadaBuck')})"
    %br
    = truncate(shield.description, :length => 100)
  .ui
    = link_to image_tag('icon_small_add.png'), members_armada_components_path(@armada, :resource_name => 'Shield', :resource_id => shield.id), :method => :post
