- content_for :title do
  Components of
  = @armada

%h2
  = @armada
  components

.left
  %h3 Available Components
  %ul
    %li= link_to 'battleships', '?resource_name=Battleship'
    %li= link_to 'corvettes', '?resource_name=Corvette'
    %li= link_to 'destroyers', '?resource_name=Destroyer'
    %li= link_to 'fighter', '?resource_name=Fighter'
    %li= link_to 'harvesters', '?resource_name=Harvester'
    %li= link_to 'missiles', '?resource_name=Missile'
    %li= link_to 'puppies', '?resource_name=Puppy'
    %li= link_to 'shields', '?resource_name=Shield'
    %li= link_to 'projectiles', '?resource_name=Projectile'
    %li #TODO

.right
  - if @components.empty?
    %h3 Choose a component type from the menu.
  - else
    %table.component
      = render :partial => params[:resource_name].downcase, :collection => @components
